* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
body {
  width: 100%;
  height: 100vh;
  /* overflow: auto; */
  color: #fff;
  background-color: #fff;
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  transition: all 0.3s;
}
.alert-element{
  padding: 10px 20px;
  font-size: 22px;
  position: absolute;
  top: 30px;
  left: 50%;
  z-index: 99999999;
  transform: translateX(-50%);
}

.form {
  position: relative;
  width: 300px;
  height: fit-content;
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: all 0.3s;
}
.dark .form {
  background-color: #333;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 54px 55px, rgba(0, 0, 0, 0.2) 0px -12px 30px, rgba(0, 0, 0, 0.2) 0px 4px 6px,
    rgba(0, 0, 0, 0.2) 0px 12px 13px, rgba(0, 0, 0, 0.2) 0px -3px 5px;
}
.mode {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background-color: #1e1e1e;
  cursor: pointer;
}
.mode i {
  margin-top: -1px;
}
.dark .mode {
  background-color: #fff;
  color: #000;
}
.form .form-title {
  color: #000;
  font-size: 30px;
  margin-bottom: 10px;
  transition: all 0.3s;
}
.dark .form .form-title {
  color: #fff;
}
.form input {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  background-color: #fff;
  outline: none;
  border-radius: 5px;
  color: #000;
  border: 0;
  border: 1px solid #8181817c;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 0.3s;
}
.dark .form input {
  background-color: #333;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.403) 0px 3px 8px;
}
.form .btn {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  outline: none;
  font-size: 20px;
  cursor: pointer;
  background-color: rgb(43, 124, 43);
  color: #fff;
  border: 0;
  margin-top: 10px;
  border-radius: 5px;
}
.form .btn:active {
  background-color: rgb(1, 55, 1);
}
.form-text {
  color: #777;
  font-size: 13px;
}
.form-text-bold {
  color: #000;
  font-weight: 600;
  cursor: pointer;
  margin-left: 5px;
  transition: all 0.3s;
}
.dark .form-text-bold {
  color: #fff;
}

.sign-form {
  display: flex;
}
.sign-form.hide,
.login-form.hide {
  display: none;
}
.login-form {
  display: flex;
}
.login-page.hide {
  display: none;
}
.product-form{
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 10px;
}

.login-page.hide{
  display: none;
}

.cabinet{
  width: 100%;
  height: 100vh;
  background-color: #1e1e1e;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* overflow: auto; */
  padding: 20px 40px;
  padding-top: 100px;
  gap: 50px;
}
.cabinet.hide{
  display: none;
}

.product-form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  height: fit-content;
  width: 400px;
  margin: 0 30px;
  /* display: none; */
}

.product-form input,
.product-form textarea,
.product-form select{
  padding: 5px;
}

.product-form option{
  font-size: 16px;
}

.form-title{
  color: black;
}

.product-img-box{
  display: flex;
  gap: 5px;
}

.product-show-img{
  background-color: rgb(9, 129, 65);
  color: white;
  font-size: 13px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.product-add-btn{
  padding: 8px;
  font-size: 18px;
  background-color: rgb(9, 129, 65);
  color: white;
  border-radius: 10px;
  border: none;
}

.product-img-place img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.products-box, .all-products-box{
  width: 100%;
  max-height: 450px;
  height: fit-content;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  overflow: auto;
  gap: 15px;
  margin-right: 30px;

}
.products-box.hide{
  display: none;
}
.products-box .product, .all-products-box .product{
  width: 100%;
  height: 280px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  transition: all 0.20s;
  cursor: pointer;
}
.product:hover{
  transform: scale(1.03);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.product img{
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}
.product-content{
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: black;
}
.product p{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.show-products{
  width: 120px;
  height: 30px;
}

.nav{
  width: 100%;
  height: 60px;
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  position: absolute;
  top: 0;
  left: 0;
}
.nav i{
  font-size: 40px;
}
.profile{
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 25px;
}
.logout-btn{
  background-color: #fc4646;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}

.flex-div{
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.show-all-products{
  padding: 10px 20px;
  font-size: 20px;
  background-color: #eee;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}
.all-products-box{
  height: 600px;
  position: absolute;
  top: 100px;
  left: 0;

}
.all-products-box.hide{
  display: none;
}